.login-container {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;

	form {
		display: flex;
		flex-direction: column;
		max-width: 300px;
		width: 100%;
	}

	input,
	button {
		border-radius: 4px;
		font-size: 16px;
		height: 48px;
		margin-top: 20px;
	}

	input {
		border: 1px solid #ddd;
		color: #777;
		padding: 0 20px;

		&::placeholder { color: #999; }
	}

	button {
		background: #df4723;
		border: none;
		color: #fff;
		cursor: pointer;
		font-weight: bold;
	}
}